@import "header.css";

@import "home.css";

@import "footer.css";

@import "signup.css";

@import "login.css";

@import "shoes.css";

@import "orderform.css";

.center{
	display:flex;
	justify-content :center;
	flex-direction : column;
	align-items : center;	
}
*{
	margin:0;
	padding:0;
	box-sizing :border-box;
}

.long{
	width :100%;
}